{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    {% for item in ssyd %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ item.image }}" class="card-img-top" alt="{{ item.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p class="text-success">{{ item.price }} ريال</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
